html {
  font-size: 12px;
  font-family: Jost;
}
.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1 {
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 1px;
}

.quote {
  color: red;
}

li {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
html {
  background-color: #c0c5da;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 2px 2px 1px darkslategray;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #c1dabe;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}